<form (ngSubmit)="register()" #registerForm="ngForm">
  <h2>Registro de Usuario</h2>

  <input
    type="text"
    name="username"
    [(ngModel)]="username"
    required
    placeholder="Nombre de usuario"
    #usernameRef="ngModel"
  />
  <div class="error-message" *ngIf="usernameRef.invalid && usernameRef.touched">
    El nombre de usuario es obligatorio
  </div>

  <input
    type="email"
    name="email"
    [(ngModel)]="email"
    required
    placeholder="Correo electrónico"
    #emailRef="ngModel"
  />
  <div class="error-message" *ngIf="emailRef.invalid && emailRef.touched">
    El correo es obligatorio
  </div>

  <input
    type="password"
    name="password"
    [(ngModel)]="password"
    required
    minlength="6"
    placeholder="Contraseña"
    #passRef="ngModel"
  />
  <div class="error-message" *ngIf="passRef.invalid && passRef.touched">
    La contraseña debe tener al menos 6 caracteres
  </div>

  <button [disabled]="registerForm.invalid">Registrarse</button>

  <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

</form>
