<h2 class="ranking-titulo">🏆 Top 3 Mejores Jugadores 🏆</h2>

<div class="podio-container">
  <!-- Segundo lugar -->
  <div class="podio puesto segundo animar">
    <div class="medalla">🥈</div>
    <div class="info">
      <div class="nombre">{{ topPlayers[1]?.username }}</div>
      <div class="email">{{ topPlayers[1]?.email }}</div>
      <div class="puntos">{{ topPlayers[1]?.score }} pts</div>
    </div>
  </div>

  <!-- Primer lugar -->
  <div class="podio puesto primero animar">
    <div class="medalla">🥇</div>
    <div class="info">
      <div class="nombre">{{ topPlayers[0]?.username }}</div>
      <div class="email">{{ topPlayers[0]?.email }}</div>
      <div class="puntos">{{ topPlayers[0]?.score }} pts</div>
    </div>
  </div>

  <!-- Tercer lugar -->
  <div class="podio puesto tercero animar">
    <div class="medalla">🥉</div>
    <div class="info">
      <div class="nombre">{{ topPlayers[2]?.username }}</div>
      <div class="email">{{ topPlayers[2]?.email }}</div>
      <div class="puntos">{{ topPlayers[2]?.score }} pts</div>
    </div>
  </div>
</div>
